---
title: i9-bekræftelse af ansættelseskontrol
description: Ifølge den amerikanske Immigration Reform and Control Act (IRCA) skal arbejdsgivere i USA bekræfte, at nyansatte medarbejdere er berettigede til ansættelse.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: ea77f112413a5b7d5c96768ad46fdb361023bd84
ms.sourcegitcommit: 27475081f3d2d96cf655b6afdc97be9fb719c04d
ms.translationtype: HT
ms.contentlocale: da-DK
ms.lasthandoff: 01/12/2022
ms.locfileid: "7964877"
---
# <a name="employment-verification-i9-verification"></a>i9-bekræftelse af ansættelseskontrol

[!include [banner](../../../includes/banner.md)]

Ifølge den amerikanske Immigration Reform and Control Act (IRCA) skal arbejdsgivere i USA bekræfte, at nyansatte medarbejdere er berettigede til ansættelse. Denne fremgangsmåde fører dig gennem trinnene til registrering af de nødvendige dokumenter til bekræftelse af I-9. Vælg USMF-firmaet for denne procedure.

1. Gå til **Human Resources \> Arbejdere \> Medarbejdere**.
2. Brug Quick Filter til at finde poster. Du kan for eksempel filtrere på værdien **Peter** i feltet **Navn**.
3. Vælg medarbejderen. Vælg f.eks. **Peter Prado**.
4. Vælg oversigtspanelet **Personlige oplysninger**.
5. Vælg **Identifikationsnumre**.
6. Vælg **Ny**.
7. Vælg den identifikationstype, du registrerer. Vælg for eksempel **Pas**.
8. Engiv en værdi i feltet **Nummer**.
9. Vælg **Ja** i feltet **Primær**.
10. Angiv en kort beskrivelse af identifikationsposten i feltet **Beskrivelse**.
11. Under **Udstedende organ** skal du vælge det organ, der udstedte arbejderens identifikation. Vælg for eksempel **Staten**.
12. Indtast den dato, hvor det udstedende organ udstedte arbejderens identifikation. Indtast for eksempel datoen **02/15/2011** (15. februar 2011).
13. Angiv den dato, hvor identifikationsformen udløber. Indtast for eksempel datoen **2/15/2021** (15. februar 2021).
14. Vælg **Gem**.
15. Luk siden.
16. Vælg fanen **Ansættelse**.
17. Vælg **I-9**.
18. Vælg **Ny**.
19. Vælg en indstilling i feltet **Arbejdstilladelse**.

    Hvis medarbejderen ikke bor i USA eller ikke er amerikansk statsborger, skal du også angive medarbejderens udlændinge- eller tilladelsesnummer.

20. Vælg indstillingen **GroupListA**.

    Hvilken liste, du skal vælge, afhænger af, hvilken form for identifikation arbejderen har fremvist. En arbejder skal enten fremvise ét dokument fra liste A eller ét dokument fra både liste B og liste C. Hvis arbejderen f.eks. har fremvist et pas, kan du vælge Liste A. Men hvis arbejderen kun har fremvist et kørekort og et sundhedskort, skal du vælge liste B og Liste C.

21. Vælg den dokumenttype, arbejderen har fremvist, i feltet **I-9-dokumenttype**.
22. Indtast eller vælg en værdi i feltet **Dokumentnummer**.
23. Vælg **Gem**.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
