---
title: i9-bekræftelse af ansættelseskontrol
description: Ifølge den amerikanske Immigration Reform and Control Act (IRCA) skal arbejdsgivere i USA bekræfte, at nyansatte medarbejdere er berettigede til ansættelse.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 7b5d0bfdee219b5003a3fdf62f81890bb81aecad
ms.sourcegitcommit: f5e31c34640add6d40308ac1365cc0ee60e60e24
ms.translationtype: HT
ms.contentlocale: da-DK
ms.lasthandoff: 12/08/2020
ms.locfileid: "4694206"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="e04d7-103">i9-bekræftelse af ansættelseskontrol</span><span class="sxs-lookup"><span data-stu-id="e04d7-103">Employment verification i9 verification</span></span>

[!include [banner](../../../includes/banner.md)]

<span data-ttu-id="e04d7-104">Ifølge den amerikanske Immigration Reform and Control Act (IRCA) skal arbejdsgivere i USA bekræfte, at nyansatte medarbejdere er berettigede til ansættelse.</span><span class="sxs-lookup"><span data-stu-id="e04d7-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="e04d7-105">Denne fremgangsmåde fører dig gennem trinnene til registrering af de nødvendige dokumenter til bekræftelse af I-9.</span><span class="sxs-lookup"><span data-stu-id="e04d7-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="e04d7-106">Vælg USMF-firmaet for denne procedure.</span><span class="sxs-lookup"><span data-stu-id="e04d7-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="e04d7-107">Gå til Personale > Arbejdere > Medarbejdere.</span><span class="sxs-lookup"><span data-stu-id="e04d7-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="e04d7-108">Brug Quick Filter til at finde poster.</span><span class="sxs-lookup"><span data-stu-id="e04d7-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="e04d7-109">Du kan for eksempel filtrere på feltet Navn med værdien 'Peter'.</span><span class="sxs-lookup"><span data-stu-id="e04d7-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="e04d7-110">Vælg medarbejderen.</span><span class="sxs-lookup"><span data-stu-id="e04d7-110">Select the employee.</span></span> <span data-ttu-id="e04d7-111">Eksempel: Peter Prado</span><span class="sxs-lookup"><span data-stu-id="e04d7-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="e04d7-112">Udvid oversigtspanelet Personlige oplysninger.</span><span class="sxs-lookup"><span data-stu-id="e04d7-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="e04d7-113">Klik på Identifikationsnumre.</span><span class="sxs-lookup"><span data-stu-id="e04d7-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="e04d7-114">Klik på Ny.</span><span class="sxs-lookup"><span data-stu-id="e04d7-114">Click New.</span></span>
7. <span data-ttu-id="e04d7-115">Vælg den identifikationstype, du registrerer.</span><span class="sxs-lookup"><span data-stu-id="e04d7-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="e04d7-116">Eksempel: Pas</span><span class="sxs-lookup"><span data-stu-id="e04d7-116">Example: Passport</span></span>
8. <span data-ttu-id="e04d7-117">Skriv en værdi i feltet Nummer.</span><span class="sxs-lookup"><span data-stu-id="e04d7-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="e04d7-118">Vælg Ja i feltet Primær.</span><span class="sxs-lookup"><span data-stu-id="e04d7-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="e04d7-119">Angiv en kort beskrivelse af identifikationspostes i feltet Beskrivelse.</span><span class="sxs-lookup"><span data-stu-id="e04d7-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="e04d7-120">Under udstedende organ skal du vælge det organ, der udstedte arbejderens identifikation.</span><span class="sxs-lookup"><span data-stu-id="e04d7-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="e04d7-121">Eksempel: Regering</span><span class="sxs-lookup"><span data-stu-id="e04d7-121">Example: Government</span></span>
12. <span data-ttu-id="e04d7-122">Indtast den dato, hvor det udstedende organ udstedte arbejderens identifikation.</span><span class="sxs-lookup"><span data-stu-id="e04d7-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="e04d7-123">Eksempel: 02/15/2011</span><span class="sxs-lookup"><span data-stu-id="e04d7-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="e04d7-124">Angiv den dato, hvor identifikationsformen udløber.</span><span class="sxs-lookup"><span data-stu-id="e04d7-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="e04d7-125">Eksempel: 2/15/2021</span><span class="sxs-lookup"><span data-stu-id="e04d7-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="e04d7-126">Klik på Gem.</span><span class="sxs-lookup"><span data-stu-id="e04d7-126">Click Save.</span></span>
15. <span data-ttu-id="e04d7-127">Luk siden.</span><span class="sxs-lookup"><span data-stu-id="e04d7-127">Close the page.</span></span>
16. <span data-ttu-id="e04d7-128">Klik på fanen Ansættelse.</span><span class="sxs-lookup"><span data-stu-id="e04d7-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="e04d7-129">Klik på I-9.</span><span class="sxs-lookup"><span data-stu-id="e04d7-129">Click I-9.</span></span>
18. <span data-ttu-id="e04d7-130">Klik på Ny.</span><span class="sxs-lookup"><span data-stu-id="e04d7-130">Click New.</span></span>
19. <span data-ttu-id="e04d7-131">Vælg en indstilling i feltet Arbejdstilladelse.</span><span class="sxs-lookup"><span data-stu-id="e04d7-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="e04d7-132">Hvis medarbejderen ikke bor i USA eller ikke er amerikansk statsborger, skal du også angive medarbejderens udlændinge- eller tilladelsesnummer.</span><span class="sxs-lookup"><span data-stu-id="e04d7-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="e04d7-133">Vælg indstillingen GruppelisteA.</span><span class="sxs-lookup"><span data-stu-id="e04d7-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="e04d7-134">Hvilken liste, du skal vælge, afhænger af, hvilken form for identifikation arbejderen angav.</span><span class="sxs-lookup"><span data-stu-id="e04d7-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="e04d7-135">En arbejder skal angive ét dokument fra liste A eller et dokument fra liste B og C. Hvis arbejderen eksempelvis angav et pas, kan liste A vælges.</span><span class="sxs-lookup"><span data-stu-id="e04d7-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="e04d7-136">Men hvis arbejderen kun har angivet sit kørekort og social security-kort, skal liste B og C vælges.</span><span class="sxs-lookup"><span data-stu-id="e04d7-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="e04d7-137">Vælg den dokumenttype, medarbejderen har indleveret, i feltet I-9-dokumenttype.</span><span class="sxs-lookup"><span data-stu-id="e04d7-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="e04d7-138">Indtast eller vælg en værdi i feltet Dokumentnummer.</span><span class="sxs-lookup"><span data-stu-id="e04d7-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="e04d7-139">Klik på Gem.</span><span class="sxs-lookup"><span data-stu-id="e04d7-139">Click Save.</span></span>

