---
title: i9-bekræftelse af ansættelseskontrol
description: Ifølge den amerikanske Immigration Reform and Control Act (IRCA) skal arbejdsgivere i USA bekræfte, at nyansatte medarbejdere er berettigede til ansættelse.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 544c298f83c4b1838a94aee95ed6038fcc1f4e4f
ms.sourcegitcommit: 16bfa0fd08feec1647829630401ce62ce2ffa1a4
ms.translationtype: HT
ms.contentlocale: da-DK
ms.lasthandoff: 08/02/2019
ms.locfileid: "1850773"
---
# <a name="employment-verification-i9-verification"></a>i9-bekræftelse af ansættelseskontrol

[!include [task guide banner](../../../includes/task-guide-banner.md)]

Ifølge den amerikanske Immigration Reform and Control Act (IRCA) skal arbejdsgivere i USA bekræfte, at nyansatte medarbejdere er berettigede til ansættelse. Denne fremgangsmåde fører dig gennem trinnene til registrering af de nødvendige dokumenter til bekræftelse af I-9. Vælg USMF-firmaet for denne procedure.

1. Gå til Personale > Arbejdere > Medarbejdere.
2. Brug Quick Filter til at finde poster. Du kan for eksempel filtrere på feltet Navn med værdien 'Peter'.
3. Vælg medarbejderen. Eksempel: Peter Prado
4. Udvid oversigtspanelet Personlige oplysninger.
5. Klik på Identifikationsnumre.
6. Klik på Ny.
7. Vælg den identifikationstype, du registrerer. Eksempel: Pas
8. Skriv en værdi i feltet Nummer.
9. Vælg Ja i feltet Primær.
10. Angiv en kort beskrivelse af identifikationspostes i feltet Beskrivelse.
11. Under udstedende organ skal du vælge det organ, der udstedte arbejderens identifikation. Eksempel: Regering
12. Indtast den dato, hvor det udstedende organ udstedte arbejderens identifikation. Eksempel: 02/15/2011
13. Angiv den dato, hvor identifikationsformen udløber. Eksempel: 2/15/2021
14. Klik på Gem.
15. Luk siden.
16. Klik på fanen Ansættelse.
17. Klik på I-9.
18. Klik på Ny.
19. Vælg en indstilling i feltet Arbejdstilladelse.
    * Hvis medarbejderen ikke bor i USA eller ikke er amerikansk statsborger, skal du også angive medarbejderens udlændinge- eller tilladelsesnummer.  
20. Vælg indstillingen GruppelisteA.
    * Hvilken liste, du skal vælge, afhænger af, hvilken form for identifikation arbejderen angav. En arbejder skal angive ét dokument fra liste A eller et dokument fra liste B og C. Hvis arbejderen eksempelvis angav et pas, kan liste A vælges. Men hvis arbejderen kun har angivet sit kørekort og social security-kort, skal liste B og C vælges.  
21. Vælg den dokumenttype, medarbejderen har indleveret, i feltet I-9-dokumenttype.
22. Indtast eller vælg en værdi i feltet Dokumentnummer.
23. Klik på Gem.

